:root{
  --color: #000;
  --inverse: #fff;
  --font: 10px;
}

.caption{
  border-radius: 3px;
  border: 1px solid;
  color: var(--color);
  padding: 5px 14px;
  font-size: calc(1.5 * var(--font));
}
.text {
  color: var(--color);
  font-size: calc(1.5 * var(--font));
}
.btn {
  border-radius: 3px;
  background-color: var(--color);
  color: var(--inverse);
  font-size: calc(1.5 * var(--font));
  font-weight: 500;
  padding: 5px 14px;
  text-transform: uppercase;
  display: inline-block;
}
